<H3><%= hotel.name.titleize %></H3>

<div id="<%= dom_id hotel %>">
  <table class="borderless less-padding hotel-details">
    <tbody>
      <tr>
        <th class="top-align">Identifier:</th>
        <td><code class="min-content"><%= hotel.identifier %></code></td>
      </tr>
      <% attr = hotel.attributes.compact %>
      <% attr.extract!("id","name","identifier","created_at","updated_at","metadata") %>
      <% attr.each do |k, v| %>
        <tr>
          <th class="top-align"><%= k.titleize %>:</th>
          <td><%= v %></td>
        </tr>
      <% end %>
      <tr>
        <th class="top-align">Amenities:</th>
        <td>
          <% prettify_amenities.each do |category, amenity_names| %>
            <p>
              <strong><%= category&.titleize %></strong>
              <% amenity_names.each do |amenity_name| %>
                <code class="min-content"><%= amenity_name %></code>
              <% end %>
            </p>
          <% end %>
        </td>
      </tr>
      <% if hotel.images.present? %>
        <tr>
          <th class="top-align">Images:</th>
          <td>
            <% sort_images.each do |image| %>
              <%= render image %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
