<p style="color: green"><%= notice %></p>

<h1>Hotels</h1>

<div id="hotels">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Indentifier</th>
        <th>Destination</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @hotels.each do |hotel| %>
        <tr>
          <td id="hotel_name_<%= dom_id hotel %>">
            <%= hotel.name %>
          </td>
          <td id="identifier_<%= dom_id hotel %>">
            <code class="min-content"><%= hotel.identifier %></code>
          </td>
          <td id="destination_<%= dom_id hotel %>">
            <%= hotel.destination %>
          </td>
          <td><%= link_to "View Details", hotel %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "search_form" %>
<%= render "data_form" %>

<h4 class="less-margin-bottom">Note</h4>

<p class="less-margin-bottom">By default, hotels are seeded using:</p>
<pre><code>rails db:seed</code></pre>

<p class="less-margin-bottom">It populates the db in the following order:</p>

<ol>
  <% ["acme", "patagonia", "paperflies"].each do |name| %>
    <li>snapshot from <a href="https://5f2be0b4ffc88500167b85a0.mockapi.io/suppliers/<%= name %>" target="blank"><%= name %></a></li>
  <% end %>
</ol>
<p>Load from snapshot button does exactly the same.</p>