<p style="color: green"><%= notice %></p>

<%= render @hotel %>

<div class="margin-bottom">
  <% if prev_hotel_id %>
    <%= link_to "Previous hotel", hotel_path(prev_hotel_id) %>
  <% else %>
    Previous hotel
  <% end %>
  |
  <% if next_hotel_id %>
    <%= link_to "Next hotel", hotel_path(next_hotel_id) %>
  <% else %>
    Next hotel
  <% end %>
</div>
<%= button_to "Back to hotels", hotels_path, method: :get %>