<p style="color: green"><%= notice %></p>

<%= render @hotel %>

<div class="margin-bottom">
  <% if @hotel.id > 1 %>
    <%= link_to "Previous hotel", hotel_path(@hotel.id - 1) %>
  <% else %>
    Previous hotel
  <% end %>
  |
  <% if @hotel.id < Hotel.count %>
    <%= link_to "Next hotel", hotel_path(@hotel.id + 1) %>
  <% else %>
    Next hotel
  <% end %>
</div>
<%= button_to "Back to hotels", hotels_path, method: :get %>