<div id="<%= dom_id image %>">
  <div>
    <strong><%= image.category.titleize %>:</strong> <%= image.caption %>
  </div>
  <img
    class="max-width-60"
    src=<%= image.url %>
    alt="<%= image.caption.titleize %>"
  >
</div>
